html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: white;
    background-image: url(../images/dining.jpg);
}

#navbar {
    background-color: #c01823;
    border-radius: none;
    padding: 10px;
}

.navbar-brand {
    color: #23e22c !important;
}

.jumbotron {
    margin: 0 175px;
    background-color: #c01823;
    text-align: center;
    font-family: 'Fontdiner Swanky', cursive;
    color: #23e22c;
}

#button {
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 35px;
    font-weight: bolder;
    color: red;
}

.row-spacing {
    margin: 40px 0;
}

.snippet-spacing {
    margin-top: 10px;
}

.food-cat-spacing {
    margin-top: 5px;
}

.link-size {
    font-size: 18px;
}

.rating-img {
    width: 130px;
    height: auto;
}

.snippet-img {
    height: 40px;
    width: 40px;
}

.display-block {
    display: block;
}

.food-cat:last-child {
    display: none;
}

@media screen and (max-width:500px) {
    .no-float-mobile {
        float: none;
    }
}
